<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <!--<add name="PBConnectionString" connectionString="Data Source=NB278;Initial Catalog=PB;Persist Security Info=True;User ID=sa;Password=panuwat"
            providerName="System.Data.SqlClient" />-->
        <!--<add name="COFConnectionString" connectionString="Data Source=NB278;Initial Catalog=cofdb;Persist Security Info=True;User ID=sa;Password=panuwat"
            providerName="System.Data.SqlClient" />-->
      <!--<add name="COFConnectionString" connectionString="Data Source=wasooc.mektec.co.th\AI2DSVR;Initial Catalog=cofdb;Persist Security Info=True;User ID=sa;Password=mmct@2014"
            providerName="System.Data.SqlClient" />-->

      <add name="COFConnectionString" connectionString="Data Source=prdsvr.mektec.co.th;Initial Catalog=AUTODB;Persist Security Info=True;User ID=sa;Password=P@ssw0rd" providerName="System.Data.SqlClient" />

      <add name="WindowsFormsApplication1.Properties.Settings.PROD" connectionString="Data Source=PROD.mektec.co.th;Persist Security Info=True;Password=apps;User ID=apps" providerName="System.Data.OleDb" />
    </connectionStrings>

  <appSettings>
    <add key="MCName" value="NB278" />
    <add key="CSV_DropBox_Path" value="D:\InspectionData\" />
    <add key="CSV_LCR_Path" value="D:\DataToPrint\" />
    <add key="CSV_Log_File" value="D:\DataToPrint\ErrorLog.txt" />
    <add key="CSV_Bk_File" value="D:\PrintBackUp\" />    
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>


<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
